In [1]:
lesson_author = "Mark" #Snake Case
lessonAuthor = "Mark"  #Camel Case
LessonAuthor = "Mark"  #Master Case

In [9]:
num = 2
# num = num + 5
num += 5
num

7

In [11]:
f_name = "Waqas"
l_name = "Ali"
fullName = f_name + l_name
print(fullName * 5)

WaqasAliWaqasAliWaqasAliWaqasAliWaqasAli

In [15]:
print("Name: {} \nFName: {}".format("Qasim","Aslam"))

Name: Qasim
FName: Aslam

In [16]:
x = 2
y = 3

if x != 2 or y == 4:
    print(True)
else:
    print(False)

False

In [19]:
if x == 2:
    if y == 4:
        print(True)
    else:
        print("y False")
else:
    print("x False")

False

In [23]:
n = "Waqas"
print("Name: %s"%n)

Name: Waqas

In [26]:
a = 1
b = 2
# answer a = 2 b = 1 



a,b=b,a

print(a)
print(b)

2
1

In [53]:
li = list(range(0,21,2))

In [54]:
li

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [55]:
li[4:-2:2]

[8, 12, 16]

In [56]:
li

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
li.extend([22,23])

In [59]:
li

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 23]

In [60]:
l1 = [(3,7,2),
     (8,3,9),
     (4,1,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 23]